<!DOCTYPE html>
<html lang="en">
<head>
  <title>Theme</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
  .jumbotron {
      background-color: #f4511e;
      color: #fff;
  }
  </style>
</head>
<body>
<div class="jumbotron text-center">
  <h1>TR4DE ST4R</h1> 
  <p>CE MESSAGE EST DANS home.html</p> 
  <form class="form-inline">
    <input type="email" class="form-control" size="50" placeholder="Email Address" required>
    <button type="button" class="btn btn-danger">Subscribe</button>
  </form>

<div ng-controller="DetailsController" ng-cloak>
	<div class="container">
		<h4>Hello {{home.name}} !!</h4>
		<button type="button" class="btn btn-warning">Click Me!</button>
	</div>
</div>
</div>
</body>
</html>
